<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>learn Resources</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div style="text-align: center; margin:0 auto; width: 1000px; ">
    <h1>学习资源大奉送（Java）</h1>
    <table width="100%" border="1" cellspacing="1" cellpadding="1">
        <tr>
            <td>编号</td>
            <td>接口名称</td>
            <td>响应报文</td>
            <td>结果</td>
        </tr>
        <!--/*@thymesVar id="learnList" type=""*/-->
        <!--/*@thymesVar id="scanResults" type=""*/-->
        <tr th:each="apiResult : ${apiResults}">
            <td th:text="${apiResult.id}"></td>
            <td th:text="${apiResult.url}"></td>
            <td th:text="${apiResult.body}"></td>
            <td th:text="${apiResult.result}"></td>
        </tr>

        <tr>
            <td>总数</td>
            <td>成功</td>
            <td>失败</td>
        </tr>
        <tr th:each="testResultSummary : ${testResultSummaries}">
            <td th:text="${testResultSummary.total}"></td>
            <td th:text="${testResultSummary.success}"></td>
            <td th:text="${testResultSummary.failed}"></td>
        </tr>
    </table>
</div>
</body>
</html>