<!doctype html>

<!--[if lt IE 7 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.w3.org/1999/XSL/Transform" lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title></title>

    <!-- main JS libs -->
    <script src="../static/vanilla-cream-css/js/libs/modernizr.min.js" th:src="@{/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/jquery-1.10.0.js" th:src="@{/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/jquery-ui.min.js" th:src="@{/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
    <script src="../static/vanilla-cream-css/js/libs/bootstrap.min.js" th:src="@{/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/vanilla-cream-css/css/bootstrap.css" th:href="@{/vanilla-cream-css/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/vanilla-cream-css/style.css"  th:href="@{/vanilla-cream-css/style.css}"  />
    <!-- scripts -->
    <script src="../static/vanilla-cream-css/js/general.js" th:src="@{/vanilla-cream-css/js/general.js}"></script>

    <!-- Include all needed stylesheets and scripts here -->

    <!--[if lt IE 9]><script src="../static/vanilla-cream-css/js/respond.min.js" th:src="@{/vanilla-cream-css/js/respond.min.js}"></script><![endif]-->
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {filter: none !important;}
    </style>
    <![endif]-->
</head>

<body style="background-image: none;">
<div class="body_wrap">
    <div class="container">
        <div class="alert alert-info text-center" role="alert">后台接口测试平台结果</div>
        <table class="table table-striped table-bordered text-center">
            <tr>
                <td>被测接口数</td>
                <td>成功</td>
                <td>失败</td>
            </tr>
            <tr th:each="testResultSummary : ${testResultSummaries}">
                <td th:text="${testResultSummary.total}"></td>
                <td class="alert-success text-center" th:text="${testResultSummary.success}"></td>
                <td th:classappend="${String.equals(testResultSummary.failed, 0)}? text-center : alert-failed" th:text="${testResultSummary.failed}"></td>
                <!--<td class="alert-failed text-center" th:text="${testResultSummary.failed}"></td>-->
            </tr>
        </table>
        <table class="table table-striped table-bordered text-center">
            <tr>
                <td>编号</td>
                <td>接口名称</td>
                <td>响应报文</td>
                <td>状态码</td>
                <td>结果</td>
            </tr>
            <tr th:each="apiResult : ${apiResults}" class="text-info" >
                <td th:text="${apiResult.id}">编号</td>
                <td th:text="${apiResult.url}">接口名称</td>
                <td th:text="${#strings.equals(apiResult.responseBody, 'null')}? 'no responseBody' : ${apiResult.responseBody}">响应报文</td>
                <td th:text="${apiResult.status_code}">状态码</td>
                <td th:classappend="${#strings.equals(apiResult.result,'Success')}?  alert-success : alert-failed" th:text="${apiResult.result}">执行结果</td>
                <!--<td th:classappend="${#strings.startsWith(apiResult.result,'2')}?  alert-success : alert-failed" th:text="${apiResult.result}">执行结果</td>-->
            </tr>
        </table>
    </div>
    <!--/ container -->
</div>
</body>
</html>